body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #6a0dad; /* roxo */
    color: #fff;
    padding: 2px;
    text-align: center;
    max-height: 80px
    ;
}

header p, h1 {
    margin-right: 70%;
}

header p {
    font-size: 65%;
    margin-top: 0;
}
header h1{
    font-size: 200%;
    margin-bottom: 3px;
    margin-top: 8px;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    overflow: hidden;
}

.produto {
    float: left;
    width: calc(33.33% - 20px);
    margin: 0 10px 20px;
    background-color: #ffe4e1; /* salmão */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #008000; /* verde */
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Adicionei estilos para a seção de destaques e o slider */
.destaques {
    width: 100%; /* Largura total da tela */
    margin: 0 auto; /* Isso centraliza horizontalmente o contêiner */
    overflow: hidden;
    position: relative;
    text-align: center; /* Isso centraliza o conteúdo dentro do contêiner */
}

.destaque-slider {
    display: flex;
    transition: transform 0.5s ease;
}

.destaque-slide {
    flex: 0 0 100%;
}

.destaque-slide img {
    width: 100%;
    height: 620px; /* Definindo a altura máxima desejada */
    object-fit: contain; /* Para garantir que a imagem seja mostrada inteira */
}



/* Estilo adicional para botões do slider */
.comprar-btn {
    background-color: #6a0dad; /* roxo */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comprar-btn:hover {
    background-color: #4b077d; /* tom mais escuro de roxo */
}

/* Estilos para os produtos */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.produto {
    width: 23%;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
}
